// fonts
$mainFontSize : 40px;

//media
$maxMobile : 767px;
$minSmall : 768px;
$minMedium : 992px;
$minLarge : 1020px;

//colors
$redColor : #e2494c;
$greyColor : #c9c4c4;


//rtl
$float-left : left;
$float-right : right;